<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themes</key>
	<array>
		<dict>
			<key>name</key> 				<string>Stock</string>
			<key>bgColor</key> 				<string>#fffff</string>
		</dict>

		<dict>
			<key>name</key> 				<string>Night</string>
			<key>bgColor</key> 				<string>#fffff</string>
		</dict>

		<dict>
			<key>name</key> 				<string>OLED</string>
			<key>bgColor</key> 				<string>#fffff</string>
		</dict>

		<dict>
			<key>name</key> 				<string>Rainbow</string>
			<key>bgColor</key> 				<string>#fffff</string>
		</dict>

		<dict>
			<key>name</key> 				<string>Dark Rainbow</string>
			<key>bgColor</key> 				<string>#fffff</string>
		</dict>

		<!-- <dict>
			<key>cell</key> 				<string>PSGroupCell</string>
		</dict> -->
		<!-- <dict>
			<key>cell</key> 				<string>PSButtonCell</string>
			<key>action</key> 				<string>save</string>
		</dict> -->

		<!-- <key>PostNotification</key> 	<string>com.kayfam.hueprefs/settingschanged</string> -->
	</array>
</dict>
</plist>